
/*********************************
Font face
****************************************/
@font-face {
    font-family: 'Nunito';
    src: url('fonts/nunito/nunito-regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Nunito1';
    src: url('fonts/nunito/nunito-bold.ttf');
}

@font-face {
    font-family: 'Fjalla One';
    src: url('fonts/fjalla_one/fjallaone-regular.ttf');
    font-style: normal;
    font-weight: normal;
}



/**********************************************
Body
**********************************************/
body{
    font-family: Nunito;
    margin: 0;
    background-color: #ededed;
    color: #414141;
    line-height: 1.5em;
}


/***********************************************
Header
***********************************************/
header{
    color: black;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color: #fff;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;
}

header>div{
    font-size: 20px;
}

nav> ul{
    display: flex;
    list-style-type: none;
    gap: 1em;
}
li>a{
    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 20px;
}

li a:hover{
    background-color:  #ededed;
    color: #000;
}

.active{
    background-color: #ededed;
    border: 2px solid #00748D;
    border-top: transparent;
    border-right: transparent;
}

/******************************************
h1 h2 h3
******************************************/
h1, h2, h3{
    font-family: 'Fjalla One';
}
h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}

/*****************************************

*****************************************/
.path{
    background-image: url(images/path.png);
    position: relative;
    bottom: 5px;
    height: 5px;
}

/****************************************
Main
****************************************/
.conteneur{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 1.5em;
}
.conteneur>div:nth-of-type(2) {
    display: flex;    
    gap: 5em;
}
.conteneur>div:nth-of-type(2)>section {
    background-color: #ededed;
    padding: 1em;
    margin-block: 5px;
    flex-basis: 45%;
}
.conteneur>div:nth-of-type(2)>section>div>svg {
    width: 5%;
    color:  #db0059;
}
.conteneur>div:nth-of-type(2)>section>div {
    text-align: center;
}
.overflow{
    overflow-y: scroll;
    height: 40em;
}

.styl{
    font-family: Nunito1;
    font-style: italic;
    color: #00748D;
}
hr{
    width: 50%;
    color: #CB8606;
    margin-top: 30px;
    margin-bottom: 30px;
}
.img1{
    width: 8%;
    height: 4%;
}
.img2{
    width: 13%;
    height: 4%;
}
/****************************************
Grid
****************************************/
.grid1>article:nth-of-type(1)>div{
    display: flex;
}

.grid>img{
    width: 100%;
    height: 100%;
}

/* .grid>img:hover{
    transform: scale(1.2);
} */

.grid-container{
    display: grid;
    grid-template: repeat(6, auto)/ repeat(4, auto);
    gap: 0.5em;
    width: 100%;
    height: 100%;
    margin-block: 30px;
}
.grid-container>.item{
    grid-area: 1/1/3/2;
}
.grid-container>.item3{
    grid-area: 1/4/3/5;
}
.grid-container>.item5{
    grid-area: 2/3/4/4;
}
.grid-container>.item6{
    grid-area: 3/4/5/5;
}
.grid-container>.item12{
    grid-area: 5/1/7/2;
}
.grid-container>.item10{
    grid-area: 4/2/6/3;
}
.grid-container>.item14{
    grid-area: 5/4/7/5;
}

/************************************************
Footer
************************************************/
footer>div:nth-of-type(1) {
    color: white;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    background-color:  #db0059;
    margin-top: 25px;
    padding: 15px;
}
footer>div:nth-of-type(1)>section>form {
   border: 2px solid #ededed;
   border-top: transparent;
   border-right: transparent;
   padding: 1em;
   width: 100%;
}
footer>div:nth-of-type(1)>section>form>div:nth-of-type(1) {
   margin-left: -3%;
}
[type="email"] {
    background-color: #ededed;
    width: 50%;
    margin-block: 15px;
    margin-left: -43%;
    border: transparent;
    padding: 0.5em;
    outline: none;
    opacity: 0.8;
    color: #db0059;
}
[type="Submit"] {
    margin-left: -79%;
    padding: 0.5em;
    border: transparent;
    color: #db0059;
}
main>section {
    display: flex;
    background-image: url(images/banner2.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: -15px;
    justify-content: center;
    align-items: center;
}
main>section>h2 {
    background-color: #ededed;
    padding: 1em;
    opacity: 0.8;
    color: #db0059;
}
footer{
    background-color: rgb(75, 72, 72);
    text-align: center;
}

footer>img{
    margin-top: 15px;
    width: 60px;
}


/*******************************************

*******************************************/

i{
    color: white;
    background-color: #CB8606;
    padding: 15px;
    font-size: 20px;
}
.fab{
    color: white;
    background-color:  #db0059;
}
.f{
    background-color:  #db0059;
}


/**********************************************
Media Queries Tablette
**********************************************/
@media screen and (max-width: 1100px) {
    .grand-grid{
        flex-wrap: wrap;
        margin-inline: 15px;
    }
    .grid-container{
        flex-basis: 100%;
    }
    .grid1{
        grid-template-columns: repeat(2, 1fr);
        flex-basis: 100%;
    }
}