*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    text-align: center;
    background-color: rgb(49, 48, 48);
}
header>h1 {
    color: orangered;
}
header>p {
    color: rgb(153, 147, 147);
}

.grand{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 2em;
}
.parent{
   display: flex;
   position: relative;
   gap: 2em;
   justify-content: center;
   padding: 3em;
   width: 40%;
}
.exemple1{
    width: 30%;
    height: 20vh;
    border: 3px solid blue;
    border-radius: 50%;
    
}
.exemple2{
    position: absolute;
    top: 30%;
    width: 25%;
    height: 20vh;
    border: 3px solid yellow;
    border-radius: 50%;
    -webkit-animation: kola 3s ease-in infinite;
    animation: kola 3s linear infinite;
}
.exemple3{
    position: absolute;
    top: 25%;
    bottom: 60%;
    width: 25%;
    height: 20vh;
    border: 3px solid red;
    border-radius: 50%;
    -webkit-animation: kola 3s linear infinite;
    animation: kola1 3s linear infinite;
}
@-webkit-keyframes kola{
    0%{
        -webkit-transform: rotate(0deg) translate(5%);
    }
    50%{
        transform: rotate(180deg) translate(10%);
    }
    100%{
        transform: rotate(359deg) translate(5%);
    }
}
@keyframes kola{
    0%{
        -webkit-transform: rotate(0deg) translate(5%);
    }
    50%{
        transform: rotate(180deg) translate(10%);
    }
    100%{
        transform: rotate(359deg) translate(5%);
    }
}
@keyframes kola1{
    0%{
        -webkit-transform: rotate(0deg) translate(20%);
    }
    50%{
        transform: rotate(180deg) translate(30%);
    }
    100%{
        transform: rotate(359deg) translate(20%);
    }
}
footer {
    text-align: center;
    background-color: rgb(49, 48, 48);
    padding: 15px;
}
footer>p {
    color: rgb(153, 147, 147);
}