
/*************************
Font face
*************************/
@font-face {
    font-family: athiti;
    src: url(Nw_fonts/fonts/athiti/Athiti-Regular.ttf);
}

@font-face {
    font-family: athiti1;
    src: url(Nw_fonts/fonts/athiti/Athiti-Bold.ttf);
}

@font-face {
    font-family: merienda;
    src: url(Nw_fonts/fonts/Merienda/Merienda-Regular.ttf);
}


/****************************
Déclarations des variables
****************************/
:root {
    --belge-: #ebe3db;
    --white-: white;
    --marron-: #4c4343;
    --black-: black;
    --red-: #950000;
    --gray-: rgb(92, 88, 88);
}

body {
    font-family: athiti;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(var(--belge-), var(--white-) 2%);
}

a {
    text-decoration: none;
    color: var(--white-);
}

h1 {
    text-transform: uppercase;
}

h2::before {
    content: '*';
    color: var(--red-);
    position: relative;
    top: 8px;
}

h2::after {
    content: '*';
    color: var(--red-);
    position: relative;
    top: 8px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h2, h3 {
    font-family: merienda;
}

/********************************
Header
********************************/

header {
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    max-width: 1400px;
    margin: 0 auto;
}

header> div {
    display: flex;
    align-items: center;
}

header> div> div> h1 {
    font-size: 30px;
}

header> div> div {
    display: flex;
    justify-content: center;
}

header> div> div> svg {
    width: 20px;
    color: var(--red-);
}

header> div> img {
    width: 15%;
}

header> nav> ul {
    list-style: none;
    display: flex;
    gap: 1em;
}

header> nav> ul> li {
    background-color: var(--belge-);
}

header> nav> ul> li> a {
    font-family: athiti1;
    padding-inline: 10px;
    font-size: 20px;
    color: var(--black-);
    transition: color 1.5s, background-color 1.5s;
}


header> nav> ul> li:hover a{
    background-color: var(--red-);
    color: var(--white-);
}

.active {
    background-color: var(--marron-);
}

.active> a {
    color: var(--white-);
}

/**********************************
Main
**********************************/

main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 1em;
}

main> section> h2 {
    text-align: center;
}

main> section:nth-of-type(1)> div {
    display: flex;
    justify-content: center;
    padding: 1em;
}

main> section:nth-of-type(1)> div> video {
    width: 70%;
}

main> section:nth-of-type(2)> div {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    padding: 1em;
    background-color: var(--belge-);
}

main> section:nth-of-type(2)> div> figure {
    margin: 0 auto;
    flex-basis: 48%;
}

main> section:nth-of-type(2)> div> figure> figcaption {
    text-align: center;
}

main> section:nth-of-type(2)> div> figure> img {
    width: 100%;
    height: auto;
}

/*****************************
Footer
*****************************/

i {
    width: 15%;
}

i:hover {
    color: var(--red-);
}

footer> div:nth-of-type(2)>a> img {
    width: 60px;
}

footer> div:nth-of-type(1){
    background-image: url(ressources/images/footer-bg.jpg);
    color: var(--white-);
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

footer> div:nth-of-type(1)> section> h3 {
    text-align: center;
    border-bottom: 2px dashed;
    padding: 15px;
}

footer> div:nth-of-type(1)> section {
    line-height: 0.8;
    text-align: center;
    flex-basis: 10%;
}

footer> div:nth-of-type(1)> section:nth-of-type(2)> p:nth-of-type(3) {
    margin-block: 20px;
}

footer> div:nth-of-type(1)> section:nth-of-type(2)> a {
    font-size: 16px;
}


footer> div:nth-of-type(2) {
    padding: 15px;
    text-align: center;
    background-color: var(--gray-);
    color: var(--white-);
}

footer> div:nth-of-type(2)> p a {
    border-bottom: 1px solid;
}

footer> div:nth-of-type(2)> p {
    font-size: 18px;
}


/*****************************
Tablette
*****************************/
@media screen and (max-width: 980px) {
    body {
        width: 100%;
    }  
    
    header {
        flex-direction: column;
        padding: 0;
    }

    header> div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }

    header> div>img {
        width: 15%;
    }

    header> nav {
        width: 100%;
        background-color: var(--belge-);
    }

    header> nav> ul {
        margin: 0;
        gap: 0;
        justify-content: space-around;
    }

    .active {
        background-color: var(--marron-);
    }

    main> section:nth-of-type(1)> div> video {
        width: 90%;
    }

    
    main> section:nth-of-type(2)> div> figure {
        margin: 0;
        flex-basis: 48%;
    }

    i {
        width: 10%;
    }
    

    footer> div:nth-of-type(1)> section {
        line-height: 1;
        text-align: center;
        flex-basis: 25%;
    }
}


/************************************
Mobile
************************************/
@media screen and (max-width: 780px) {

    body {
        width: 100%;
    }

    header> nav {
        border-top: 1px solid var(--black-);
    }

    header> nav> ul {
        padding: 0;
        margin: 0;
        gap: 0;
        flex-direction: column;
    }

    header> nav> ul> li {
        border-bottom: 1px solid var(--black-);
        text-align: center;
        width: 100%;
    }
    
    header> nav> ul> li> a {
       display: block;
    }

    main> section:nth-of-type(1)> div> video {
        width: 100%;
    }

    main> section:nth-of-type(2)> div> figure {
        margin: 0;
        flex-basis: 100%;
    }

    .i {
        width: 10%;
    }

    footer> div:nth-of-type(1){
        flex-direction: column;
    }

    footer> div:nth-of-type(1)> section {
        line-height: 1;
        padding: 0.5em;
    }
}