body{
    font-family: Monaco, monospace;
    font-size: 14px;
    color: #000;
    background-color: rgb(184, 179, 179);
}

header{
    border: 1px solid red;
}

header p{
text-align: center;
}

.oui{
    color: red;
    font-size: 20px;
    font-weight: bold;
}

section{
    text-align: center;
    border: 1px solid black;
}

article >h1{
    color: red;
}

section >p >a{
    text-decoration: none;
    color: red;
}